:root {
    --df-color-primary-light: #004CD8;
    --df-color-primary: #0041BE;

    --df-color-danger: #FF2222;

    --df-color-gray-lightest: #F9FBFD;
    --df-color-gray-lighter: rgba(196,196,196, 0.35);
    --df-color-gray-light: #B8B7B7;
    --df-color-gray: #767684;
    --df-color-black: #303030;
}